@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

header{
    box-sizing: border-box;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 4.5%;
}

h1.Header {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30pt;
    text-align: center;
    display: block;
    float: left;
}
h1.Logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 100pt;
    text-align: left;
    display: block;
    float: left;
    margin-top:10px;
}

body{
    background: black;
    font-size: 22px;
    line-height: 32px;
    color: firebrick;
    word-wrap: break-word !important;
    font-family: "Open Sans", sans-serif;
    width: auto;
}

h1{
    font-size: 60px;
    text-align-last: center;
    color: grey;
}

a {
    color: honeydew;
}

#container{
    margin: unset;
    overflow: visible;
    width: 100%;
}

nav {
    margin:  50px 0;
    background-color: gray;
    color: white;
}
nav ul{
    padding:  0;
    margin:  0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: gray;
}

nav a {
    display: block;
    padding: 0 10px;
    color: white;
    font-size:  20px;
    line-height: 60px;
    text-decoration: none;
}


nav a:hover{
    background-color: black;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul{ 
    display: inherit;
}

nav ul ul li {
    width:  170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li:hover > ul{ 
    display: inherit;
    left: 100%;
    top: 0;
    position: absolute;
}

nav ul ul ul li {
    width:  170px;
    float: none;
    display: list-item;
    position: relative;
}

li > a::after{
    content: " +";
}

li > a:only-child::after{
    content: "";
}